<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">
  <mat-card class="box">
    <mat-card-header>
      <mat-card-title>Register</mat-card-title>
    </mat-card-header>
    <form class="fg-form" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
      <mat-card-content>
        <mat-form-field class="full-width-input">
          <input matInput placeholder="First Name" formControlName="firstName">
          <mat-error *ngIf="hasError('firstName', 'required')">First name is required</mat-error>
        </mat-form-field>
        <mat-form-field class="full-width-input">
          <input matInput placeholder="Last Name" formControlName="lastName">
          <mat-error *ngIf="hasError('lastName', 'required')">Last name is required</mat-error>
        </mat-form-field>
        <mat-form-field class="full-width-input">
          <input matInput placeholder="Username" formControlName="username">
          <mat-error *ngIf="hasError('username', 'required')">Username is required</mat-error>
        </mat-form-field>
        <mat-form-field class="full-width-input">
          <input matInput placeholder="Email" formControlName="email">
          <mat-error *ngIf="hasError('email', 'email')">Email format is wrong</mat-error>
        </mat-form-field>
        <mat-form-field class="full-width-input">
          <input matInput placeholder="Telephone Number" formControlName="telephone">
          <mat-error *ngIf="hasError('telephone', 'required')">Telephone number name is required</mat-error>
        </mat-form-field>
        <mat-form-field class="full-width-input">
          <input type="password" matInput placeholder="Password" formControlName="password">
          <mat-error *ngIf="hasError('password', 'required')">Password is required</mat-error>
        </mat-form-field>
        <mat-form-field class="full-width-input">
          <input type="password" matInput placeholder="Confirm Password" formControlName="confirmPassword"
                 [errorStateMatcher]="matcher">
          <mat-error *ngIf="formHasError('notSame')">
            Passwords do not match
          </mat-error>
        </mat-form-field>
      </mat-card-content>
      <button mat-stroked-button color="accent" class="btn-block">Register</button>
    </form>
  </mat-card>
</div>
